<form class="form-inline" action=<%= url_for '/login/attempt' %> method='post'>
  <input name='username' type="text" class="input-small" placeholder="username">
  <input name='password' type="password" class="input-small" placeholder="Password">

  <button type="submit" class="btn">Sign in</button>
</form>